html {
font-size:16px;

}


.container1 {
width: 1000px;
height: 1000px;
background-color: green;
font-size: 20px;
    }


#p1 {
    font-size: 1.5em;
    color: blue;

    }

 
.container2 { 
width: 1000px;
height: 1000px;
background-color: yellow;
}

#p2 {
    font-size: 1.5rem;
    color: blue;
    }

 .container3 {
width: 1000px;
height: 1000px;
  background-color: pink;
                    }            

#h3 {
    font-size: 5vw;
    color: blue;
    }  



 






